/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

/* #root {
  padding: 2rem, 5rem, 2rem, 5rem;
} */

.lessons {
  padding: 120px;

}

.lesson-item {
  display: 'grid';
  /* gridTemplateColumns: 'auto'; */
}

/* .lesson-form {
  padding: 20px 20px 20px 20px;
} */

.front-page-text {
  font-style: 'italic';
  /* padding: 100px; */
  text-align: center;

  font-family: 'Raleway', sans-serif;
}

.new-lesson-form {
  padding: 20px;

}

.dropdown-menu-right {
  width: 400px;
}

textArea {
  width: 355px;
  height: 300px;
}

input {
  width: 355px
}

.eric-link {
  font-size: 20px;
}
